@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
  touch-action: pan-y pinch-zoom;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: theme(colors.bgColor);
}

@font-face {
  font-family: "Regular";
  src: local("LexendGiga-Regular"),
    url(./assets/fonts/LexendGiga-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("LexendGiga-Medium"),
    url(./assets/fonts/LexendGiga-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat-Bold"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: local("Montserrat-Medium"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #011e41; /* Set the color of the thumb */

  border-radius: 5px; /* Round the corners */
}

::-webkit-scrollbar-track {
  background-color: #0a1122; /* Set the background color of the track */
}

.cart-scroll::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the track */
}

.cart-scroll::-webkit-scrollbar {
  width: 3px; /* Adjust the width of the scrollbar */
}

.cart-scroll::-webkit-scrollbar-thumb {
  background-color: #330062; /* Set the color of the thumb */

  border-radius: 2px; /* Round the corners */
}

.animated-element {
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 45%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  background: red;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__play {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}

.catcard {
  transition: all ease 1s;
  cursor: pointer;
}

.catcard:hover {
  transform: scale(0.91);
  box-shadow: 10px 10px 30px #0f4e98;
}

.ind-pet {
  transition: all ease 0.5s;
  cursor: pointer;
}

.cart-btn,
.detail-btn {
  transition: all ease 0.5s;
  cursor: pointer;
}

.cart-btn:hover,
.detail-btn:hover {
  transform: scale(0.9);
}
